<template>
    <div id="app">
        <Header class="page-header"/>
        <div class="container">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import Header from './components/Header.vue';
    import {store} from "./store/store";
    export default {
        name: 'app',
        store,
        components: {
            Header
        }
    }
</script>

<style>
    .page-header {
        width: 100%;
        background-color: #eaf0fa;
        border-top: 2px solid #8e9fbb;
        margin: 1px 0 20px;
    }

    #app {

    }

    a{
      color: inherit;
    }

    .container{
        max-width: 1025px;
        margin: 0 auto;
    }
</style>
