<template>
    <div class="div">
    </div>
</template>

<script>
    export default {
        name: "BookDetail",
        methods: {
            fetchBook(id) {
                this.$store.dispatch('fetchBook', id);
            },
            getBook(id) {
                window.console.log("id в компоненте",id);
                return this.$store.getters.getBook(id);
            }
        },
        /*computed: {
            book() {
                window.console.log(this.$store.getters.getBook(this.id));
                return this.$store.getters.getBook(this.id);
            }
        },*/
        data: function () {
            return {
                id: window.location.href.split("book/")[1],
                book: this.getBook(this.id)
            }
        },
        created() {
            window.console.log("created",this.id);
            this.fetchBook(this.id);
        }
    }
</script>

<style scoped>

</style>